.execution {
  background: #333;
  margin-bottom: 1px;
  border-left: 5px solid #ccc;
  &:hover {
    background: #444545;
  }
  // Status.
  &.pass {
    border-left-color: #3eb641;
    .status {
      color: #3eb641;
    }
  }
  &.fail {
    border-left-color: #8c3c2f;
    .status {
      color: #8c3c2f;
    }
  }
  // Toggle.
  &.open {
    background: #333;
    border-left-color: #333;
  }

}

.execution--summary {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 1rem;
  padding-left: 11px;
  &:hover {
    cursor: pointer;
  }
  .timestamp {
    color: white;
  }
  .status {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 auto;
  }
}

.execution--details {
  overflow: auto;
}
