.execution {
  padding: 1rem;
  background: #333;
  margin-bottom: 1px;

  &:hover {
    cursor: pointer;
  }

  &.open .summary {
    margin-bottom: 1rem;
  }

  .timestamp {
    color: white;
  }

}
