#header {

  background: #eeeeee;
  border-bottom: 1px solid #c9c9c9;

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
  }

  #logo {
    width: 50px;
  }

  #title {
    display: none;
  }

  #write-mode {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: linear-gradient(180deg, #fff 0%, #ddd 100%);
    &:hover {
      cursor: pointer;
      background: linear-gradient(0deg, #fff 0%, #ddd 100%);
    }
    label {
      font-weight: bold;
      text-shadow: 1px 1px 1px #fff;
    }
  }

}
