.meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 0.75rem;
  border: 1px solid #aaa;
  border-radius: 5px;
  &:not(:last-child) {
    margin-right: 0.5rem;
  }
  h4 {
    margin: 0;
    color: #777777;
    font-size: 1.2rem;
    font-weight: normal;
    margin-right: 1rem;
  }
}

.meta-items {
  display: flex;
  flex-direction: row;
}

.meta-item {
  padding-left: 1rem;
  padding-right: 1rem;
  border-right: 1px solid #ccc;
  &:first-child {
    padding-left: 0 !important;
  }
  &:last-child {
    padding-right: 0;
    border-right: 0;
  }
  label {
    display: block;
    font-weight: bold;
    padding-bottom: 0.1rem;
  }
  pre {
    margin: 0;
  }
}
