.meta {
  &:not(:last-child) {
    margin-right: 0.5rem;
  }
}

.meta__attributes {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.meta-attribute {
  padding-left: 1rem;
  padding-right: 1rem;
  border-right: 1px solid #ccc;
  &:first-child {
    padding-left: 0 !important;
  }
  &:last-child {
    padding-right: 0;
    border-right: 0;
  }
  label {
    display: block;
    font-weight: bold;
    text-transform: capitalize;
    padding-bottom: 0.1rem;
  }
  pre {
    margin: 0;
  }
}

.meta-none {
  color: #555;
  font-style: italic;
}
