.reflection {
  border-left: 5px solid #ccc;
  background: #EFEFEF;
  margin-right: 1rem;
  margin-left: 11px;
  margin-bottom: 1px;
  &:last-child {
    margin-bottom: 1rem;
  }

  &.pass {
    border-left-color: #3eb641;
    background-color: #c3ffbd;
  }
  &.fail {
    border-left-color: #8c3c2f;
    background-color: #ffc6c1;
  }

  .summary {
    padding: 1rem;
    .title {
      color: #777;
      font-weight: bold;
      margin-right: 1rem;
    }
    .method {
      font-weight: bold;
      margin-right: 1rem;
    }
    .actions {
      float: right;
      button {
        margin-left: 0.5rem;
      }

    }
  }

  .details {
    padding: 1rem;
    background: white;
  }
}
