@import '_variables.scss';

.reflection {
  border-left: 5px solid #ccc;
  background: #EFEFEF;
  margin-bottom: 1px;

  // Hide animation.
  overflow: hidden;
  transition: max-height 0.5s ease-out, opacity 1s linear;
  max-height: 999px;
  &.hidden {
    opacity: 0;
    max-height: 0;
  }

  &:last-child {
    margin-bottom: 1rem;
  }
  // Status.
  &.pass {
    border-left-color: $pass_color;
    background-color: $pass_bg_color;
  }
  &.fail {
    border-left-color: $fail_color;
    background-color: $fail_bg_color;
  }
  &.neutral {
    border-left-color: $neutral_color;
    background-color: $neutral_bg_color;
  }

  .reflection__summary {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 1rem;
    .title {
      color: #777;
      font-weight: bold;
      margin-right: 1rem;
    }
    .method {
      font-weight: bold;
      margin-right: 1rem;
    }
    .actions {
      margin-left: auto;
    }
  }

  .reflection__details {
    padding: 1rem;
    background: white;
  }
}
